.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.logon-container .content {
    width: 100%;
    padding: 10px auto;
    display: flex;
    justify-content:space-between;
}

.logon-container .content section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    margin-top: 48px;
}

.logon-container .content section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container .content section.form form input + input {
    margin-top: 10px;
}
.logon-container .content .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logon-container .content .aside a {
    color: #207740;
    text-decoration: none;
}
.logon-container .content .aside a:hover {
    color: #154d29;
    text-decoration: none;
}
.footer {
    background-color:#FFF;
    position: fixed;
    left: 90%;
    bottom: 3%;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    color: #207740;
    transition: all 0.2s;
}
.footer:hover {
    color: #FFF;
    background-color: #207740;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
}